<!DOCTYPE html>
<html lang = 'en'>
	<head>
		<meta charset = 'UTF-8' />
		<meta name='description' content='' />
		<meta name='keywords' content='' />
		<meta name='author' content='OR' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />

		<link href='' rel='"stylesheet' title='' type='text/css' />

		<title>Title</title>
	</head>



	<body>
	<!--<h1>{{ pageTitle  }}</h1>-->
	{{> header }}
	<p>{{ screamIt welcomeMessage }}</p>
	<p>Some text here</p>

	<!--<footer>
		<p>Copyright {{ currentYear }}</p>
	</footer>-->
	{{> footer }}


	<script src=""></script>
	</body>
</html>
